<% include ../partials/header %>

<div class="jumbotron">
    <h1 class="display-4">Greetings!</h1>
    <p class="lead">Welcome to my todo-list application. An app for easily organizing all your tasks and todos :)</p>
    <hr class="my-4">
    <p>Sort your tasks by status, either "To do", "In progress" or "Done". Get quickly started by clicking the button below, or by using the menu above.</p>
</div>

<% include ../partials/footer %>